@import '~antd/dist/antd.css';
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/ambiance.css';
@import 'codemirror/theme/dracula.css';
@import 'codemirror/theme/elegant.css';
@import 'codemirror/theme/duotone-dark.css';
@import 'codemirror/theme/material.css';
@import 'codemirror/theme/midnight.css';
@import 'codemirror/theme/the-matrix.css';
@import 'codemirror/theme/twilight.css';

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  line-height: 64px;
  background: #001529;
}

.ant-collapse-header {
  color: #fff!important;
}

.ant-collapse-content-box {
  color: #fff!important;
  background: rgba(0,21,41,.9);
  border: none;
  padding-left: 40px!important;
}

.ant-collapse-item, .ant-collapse-item:last-child>.ant-collapse-content {
  border: none!important;
}